.btn-purple {
  background-color: #4A25AA;
  color: #fff;
}

.btn-purple:hover {
  background-color: rgba(74, 37, 170, 0.9);
  color: #fff;
}

.btn-yellow {
  background-color: #FBE400;
  color: #333;
}

.btn-yellow:hover {
  background-color: rgba(251, 228, 0, 0.9);
  color: #333;
}
